﻿@model ProductViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model.Category</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>
<a asp-action="List" class="btn btn-sm btn-success">Back</a>
