﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product - Index";
}

<div class="text-center">
    <h1 class="display-4">Product</h1>
</div>
