﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AuditViewModel

@{
    ViewData["Title"] = "Audit Detail";
}

<h2>Audit Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>PIC Name</th>
            <td>@Model.PICName</td>
        </tr>
        <tr>
            <th>Asset ID</th>
            <td>@Model.AssetId</td>
        </tr>
        <tr>
            <th>Antivirus</th>
            <td>@Model.AntiVirus</td>
        </tr>
        <tr>
            <th>Office License</th>
            <td>@Model.OfficeLicense</td>
        </tr>
        <tr>
            <th>Windows License</th>
            <td>@Model.WindowsLicense</td>
        </tr>
        <tr>
            <th>Asset Condition</th>
            <td>@Model.AssetCondition</td>
        </tr>
    </tbody>
</table>
<a asp-action="List" class="btn btn-sm btn-success">Back</a>
