﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Audit";
}
<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Management Pengembalian Asset di Rapid Teknologi</p>
</div>

<div class="p-10 container text-center">
    <div class="row align-items-start">
        <div class="p-2 col border border-1">
            <p>Menampilkan semua audit aset di Rapid Teknologi.</p>
            <a class="btn btn-secondary" asp-action="List" role="button">Show Audits</a>
        </div>
        <div class="p-2 col border border-1">
            <p>Buat audit aset baru.</p>
            <a class="btn btn-secondary" asp-action="Add" role="button">New Audit</a>
        </div>
    </div>
</div>
