﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AuditViewModel>
@{
    ViewData["Title"] = "Audit List";
}

<h2>Audit List</h2>
<div class="pt-2 pb-2">
    <a asp-action="Add" class="btn btn-primary" role="button">Tambah Audit</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>PIC Name</th>
            <th>Asset ID</th>
            <th>Antivirus</th>
            <th>Office License</th>
            <th>Windows License</th>
            <th>Asset Condition</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.PICName</td>
                <td>@item.AssetId</td>
                <td>@item.AntiVirus</td>
                <td>@item.OfficeLicense</td>
                <td>@item.WindowsLicense</td>
                <td>@item.AssetCondition</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
