﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TalentViewModel

@{
    ViewData["Title"] = "Talent Detail";
}

<h2>Talent Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Asset ID</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Education</th>
            <td>@Model.Education</td>
        </tr>
        <tr>
            <th>Place of Birth</th>
            <td>@Model.PlaceOfBirth</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.DateOfBirth</td>
        </tr>
    </tbody>
</table>
<a asp-action="List" class="btn btn-sm btn-success">Back</a>
