﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Talent";
}
<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Management Talent di Rapid Teknologi</p>
</div>

<div class="p-10 container text-center">
    <div class="row align-items-start">
        <div class="p-2 col border border-1">
            <p>Menampilkan semua talent di Rapid Teknologi.</p>
            <a class="btn btn-secondary" asp-action="List" role="button">Show Talents</a>
        </div>
        <div class="p-2 col border border-1">
            <p>Buat data talent baru.</p>
            <a class="btn btn-secondary" asp-action="Add" role="button">New Talent</a>
        </div>
    </div>
</div>
