﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<TalentViewModel>
@{
    ViewData["Title"] = "Talent List";
}

<h2>Talent List</h2>
<div class="pt-2 pb-2">
    <a asp-action="Add" class="btn btn-primary" role="button">Tambah Talent</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Education</th>
            <th>Place of Birth</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Education</td>
                <td>@item.PlaceOfBirth</td>
                <td>@item.DateOfBirth</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
