﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ReturnAssetViewModel
@{
    ViewData["Title"] = "Return Asset Add Data";
}

<h2>Form Submit Return Asset</h2>
<form asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetId">Asset ID</label>
        <input asp-for="AssetId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PICName">PIC Name</label>
        <input asp-for="PICName" class="form-control" />
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
