﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Return Asset";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Management Audti Asset di Rapid Teknologi</p>
</div>

<div class="p-10 container text-center">
    <div class="row align-items-start">
        <div class="p-2 col border border-1">
            <p>Menampilkan laporan pengembalian aset di Rapid Teknologi.</p>
            <a class="btn btn-secondary" asp-action="List" role="button">Show Return Asset</a>
        </div>
        <div class="p-2 col border border-1">
            <p>Buat laporan pengembalian aset baru.</p>
            <a class="btn btn-secondary" asp-action="Add" role="button">New Return Asset</a>
        </div>
    </div>
</div>
